<fieldset>
  <legend>Tasks</legend>
  <ul class="task_list">
    <%= render :partial => "tasks/task", :collection => tasks %>
    <% if tasks.empty?  %>
      <li><b>None</b></li>
    <% end %>
  </ul>
</fieldset>