<h1>Listing Tasks</h1>

<table>
  <tr>
  </tr>
  <%- @tasks.each do |task|%>
    <tr>
    
      <td><%=link_to 'Show', object_url(task) %></td>
      <td><%=link_to 'Edit', edit_object_url(task) %></td>
      <td><%=link_to 'Destroy', object_url(task), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New Task', new_object_url %>