a {
    text-decoration: none;
}

h1 {
    font-size: 1.2em;
}

form label {
    width: 5em;
    display: block;
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
}

p label {
    vertical-align: top;
}

ul.h li {
    list-style: none;
    display: inline;
}

.context_list{
    font-size: 1.3em;
}

.project_list {
    font-size: 1.1em;
}

ul.context_list , ul.project_list {
    padding: 0;
    margin: 0 0 0.3em 0;
}

.context_list li , .project_list li {
    padding: 0.2em;
}

.active_context {
    font-weight: bold;
    font-size: 1.5em;
}

ul.task_list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
}


hr {
    height: 1px;
    margin: 0;
}

div#management_links a {
    padding: 0.25em;
}

div#management_links {
    padding: 0.2em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    text-align: right;
}

.completed {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    margin: 1em;
}

table td {
  padding: 0.3em;
  border-top: 1px solid black;
  margin: 0;
}

table th {
    text-align: left;
    padding-right: 2em;
}