body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { text-decoration: underline;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}



a {
    text-decoration: none;
}

h1 {
    font-size: 1.2em;
}

form label {
    width: 7em;
    display: block;
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
}

p label {
    vertical-align: top;
}

ul.h li {
    list-style: none;
    display: inline;
}

.context_list{
    font-size: 1.3em;
}

.project_list {
    font-size: 1.1em;
}

ul.context_list , ul.project_list {
    padding: 0;
    margin: 0 0 0.3em 0;
}

.context_list li , .project_list li {
    padding: 0.2em;
}

ul.project_list {
    margin-left: 1em;
}

.active_context {
    font-weight: bold;
    font-size: 1.5em;
}

ul.task_list {
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding-left: 1em;
}


hr {
    height: 1px;
    margin: 0;
}

div#context_lists {
  border: 1px solid black;
  padding: 0.5em;
  background: #eee;
}

div#management_links a {
    padding: 0.25em;
}

div#management_links {
    padding: 0.2em;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 0.25em;
    text-align: center;
    font-weight: bold;
}



.completed {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    margin: 1em;
}

table td {
  padding: 0.3em;
  border-top: 1px solid black;
  margin: 0;
}

table th {
    text-align: left;
    padding-right: 2em;
}

fieldset {
    margin: 0;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

span.task_meta {
    font-size: 0.8em;
}

a.overdue  {
    color: red;
    font-weight: bold;  
}

a.urgent {
    font-weight: bold;  
}

span.timer img {
    vertical-align: middle;
	padding-right: 3px;
}

span.active_timer {
    background-color: lightgreen;
}

span.timer {
    padding: 0 0.25em 0.25em 0.25em;
}

span.active_timer {
    background-color: light-green;
}